/**
 * dts file for Hisilicon D02 Development Board
 *
 * Copyright (C) 2014,2015 Hisilicon Ltd.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * publishhed by the Free Software Foundation.
 *
 */

/dts-v1/;

#include "hip05.dtsi"

/ {
	model = "Hisilicon Hip05 D02 Development Board";
	compatible = "hisilicon,hip05-d02";

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x00000000 0x0 0x80000000>;
	};

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "earlycon=uart8250,mmio32,0x80300000 console=ttyS0,115200 initrd=0x7000000,350M";
	};
};

&uart0 {
	status = "ok";
};

&usb0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&sas0 {
	status = "okay";
};

&sas1 {
	status = "okay";
};

&m3_i2c1 {
	clock-frequency = <100000>;
	status = "okay";

	rtc: ds3231@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
	};

	eeprom: at24c128@52 {
		compatible = "microchip,24c128";
		reg = <0x52>;
		pagesize = <64>;
	};

	tsensor: adt75@48 {
		compatible = "adi,adt75";
		reg = <0x48>;
	};

	dtt: lm96080@28 {
		compatible = "national,lm96080";
		reg = <0x28>;
	};
};

&eth2 {
	status = "okay";
};

&eth3 {
	status = "okay";
};

&eth6 {
	status = "okay";
};

&eth7 {
	status = "okay";
};
