config FB_LYNXFB
	tristate "Silicon Motion lynx framebuffer support"
	depends on FB && PCI
	select FB_MODE_HELPERS
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	help
	  Frame buffer driver for Lynx Express sm750 graphic chip

	  This driver is also available as a module. The module will be
	  called lynxfb. If you want to compile it as a module, say M
	  here and read <file:Documentation/kbuild/modules.txt>.

config FB_LYNXFB_DEBUG
        bool "Silicon Motion lynx framebuffer debugging"
        depends on FB_LYNXFB
        help
        Enables extra debugging.
